body
{
  background-color: black;
  color: white;
  font-family: verdana;
}

h1
{
  font-family: arial;
}

img
{
  background-color: white;
}

a{
  color: inherit;
}

div
{
  margin-top: 10px;
  margin-left: 50px;
}

body
{
  color:red;
}
